body {
    margin: 0;
    padding: 0;
    background-color: oklch(12.9% 0.042 264.695);
}

.hero {

  
    min-height: 100vh;

  
    position: relative;

    overflow: hidden;

     display: flex;
    align-items: center;
    justify-content: center;
}


#particles-js {
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    z-index: 0;
}


.hero-texto {
    position: relative;
    z-index: 1;

    text-align: center;
    color: white;
}


.hero-foto {
    position: relative;
    z-index: 1;
}