header{
    background-color: #d3d0eca2;
}



nav a{
    text-transform: uppercase;/*ponemos el texto en mayuscula de los link*/
    color: #000000;
    font-weight: bold;/*Ponemos el texto en negrita*/
    font-size: 22px;
    text-decoration: none; /*le retira el subrallado*/

}

nav {
    position: absolute;
    top: 60px;
    right: 10px;
}


.Bienvenida{
    padding-left: 35%;
}

nav li{
    display:inline;
    margin: 0 0 0 15px;
}


nav a:hover{
    color: #422bc7;
}










form{
    margin: 40px 25%;
}

form label, form legend{ 
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

footer{
    background-color: #43c46ea2;
}