body {
    font-family: "Roboto", sans-serif; 
    font-size: 16px; 
    font-weight: 400; 
    font-style: normal; 
}

header{
    background-color: #d3d0eca2;
}


nav a{
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none; 

}

nav {
    position: absolute;
    top: 60px;
    right: 10px;
}



nav li{
    display:inline;
    margin: 0 0 0 15px;
}


nav a:hover{
    color: #422bc7;
}


.Bienvenida, .MiInfo{
    padding-left: 10%; 
    font-size: 24px; 
    font-weight: bold;
    color: #056d53; 
    text-transform: uppercase; 
    letter-spacing: 2px; 
}


.Comienzo, .sobreMi {
    max-width: 800px; 
    margin: 0 auto; 
    padding: 20px; 
    text-align: center; 
}









form{
    margin: 40px 25%;
}

form label, form legend{ 
    display: block;
    font-size: 20px;
    margin: 0 0 10px;
}

footer{
    background-color: #43c46ea2;
}